@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text:210, 11%, 7%;
    --background: 246 97% 97%;
    --primary: 216 89% 50%;
    --secondary: 212, 30%, 49%;
    --accent: 212, 79%, 70%;
  }

  .dark {
    --text: 210, 11%, 93%;
    --background: 220 5% 4%;
    --primary: 217 88% 46%;
    --secondary: 212, 30%, 51%;
    --accent: 212, 79%, 30%;
  }
}

@layer base {
  body {
    @apply bg-background text-text;
  }
}

#root {
  height: 100vh;
}
